# Virtual Environment
tf_env
env/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo


# Dataset (too large for GitHub)
dataset/
data/
*.sqlite

# Node modules
node_modules/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db